.battle-divs {
    border: rgb(100, 100, 100);
    border-style: double;
    border-width: 2vh 2vw;
}

.wrapper {
    margin-top: 3vh;
}

.RPS{
    border: double rgb(100, 100, 100);
    border-width: 1vh;
    padding-left: 1vw;
    background: darkgray;
    margin: 1vh;
}

.monsterName {
    text-align: right;
}

.health-box {
    background-color: #ccc;
    height: 3vh;
    width: 30vw;
    margin: 0 auto;
    border: solid 1px #aaa;
  }

  #monPortrait {
      height: 20vh;
      width: 15vw;
      float: right;
  }

  #playPortrait {
    height: 20vh;
    width: 15vw;
  }

  body {
      font-family: 'Press Start 2P', cursive;
      color: black;
  }



.healthValues {
    color: black;
}

.portraitPlay {
    border-top-width: 0;
}

.portraitMon {
    border-bottom-width: 0;
}

.background {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa4PUM0zv39Z-bEbx4EAJQuYxDcF6fhcb_OCbojY70lqpR-A5x&s");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
.full-height{
    height: 100%;
}
.battlePage {
    background-image: url(http://i.imgur.com/Q6uJ7Pj.gif);
}

.image{
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width:762px) {
    /* For mobile phones: */
   .background {
      width: auto;
      height: auto;
    } 
}

#monName {
    background: darkgray;
}

.taunt {
    color: white;
}

.playTaunt {
    text-align: right;
}