.battle-divs {
    border: darkgray;
    border-style: double;
    border-width: 2vh 2vw;
}

.wrapper {
    margin-top: 3vh;
}

.RPS{
    border: double darkgray;
    border-width: 1vh;
    padding-left: 1vw;
}

.monsterName {
    text-align: right;
}

.health-box {
    background-color: #ccc;
    height: 3vh;
    width: 30vw;
    margin: 0 auto;
    border: solid 1px #aaa;
  }

  #monPortrait {
      height: 20vh;
      width: 15vw;
      float: right;
  }

  #playPortrait {
    height: 20vh;
    width: 15vw;
  }

  body {
      background-image: url();
      font-family: 'Press Start 2P', cursive;
      color: white;
  }

.battlePage {
    background-image: url(http://i.imgur.com/Q6uJ7Pj.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.healthValues {
    color: black;
}

.portraitPlay {
    border-top-width: .5vh;
}

.portraitMon {
    border-bottom-width: .5vh;
}