.battle-divs {
    border: darkslategrey;
    border-style: double;
    border-width: 2vh;
}

.wrapper {
    margin-top: 3vh;
}

.RPS{
    border: double darkslategrey;
    border-width: 1vh;
}

.monsterName {
    text-align: right;
}

.health-box {
    background-color: #ccc;
    height: 30px;
    width: 500px;
    margin: 0 auto;
    border: solid 1px #aaa;
  }

  .background {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa4PUM0zv39Z-bEbx4EAJQuYxDcF6fhcb_OCbojY70lqpR-A5x&s");
 background-repeat: no-repeat; 
 background-size: 100%;
 height: 100%;
}